
<!-- partial:index.partial.html -->
<div class="container">
  <form>
    <div class="row">
      <h4>Account</h4>
      <div class="input-group input-group-icon">
        <input type="text" placeholder="Name" [(ngModel)]="create.FirstName" name="Name"/>
        <div class="input-icon"><i class="fa fa-user"></i></div>
      </div>
      <div class="input-group input-group-icon">
        <input type="text" placeholder="Surname" [(ngModel)]="create.LastName" name="Surname"/>
        <div class="input-icon"><i class="fa fa-user"></i></div>
      </div>

    </div>
    <div class="row">
      <div class="col-half">
        <h4>Date of Birth</h4>
        <div class="input-group">
          <div class="col-third">
            <input type="text" placeholder="DD" [(ngModel)]="defaultBirthday.day" name="DD" maxlength="2" onkeyup="this.value = this.value.replace(/[^\d]/g,'');"/>
          </div>
          <div class="col-third">
            <input type="text" placeholder="MM" [(ngModel)]="defaultBirthday.month" name="MM" maxlength="2" onkeyup="this.value = this.value.replace(/[^\d]/g,'');"/>
          </div>
          <div class="col-third">
            <input type="text" placeholder="YYYY" [(ngModel)]="defaultBirthday.year" name="YYYY" maxlength="4" onkeyup="this.value = this.value.replace(/[^\d]/g,'');"/>
          </div>
        </div>
      </div>
      <div class="col-half">
        <h4>Gender</h4>
        <div class="input-group">
          <input id="gender-male" type="radio" name="gender" value="T" [(ngModel)]="create.Gender" name="male"/>
          <label for="gender-male">Male</label>
          <input id="gender-female" type="radio" name="gender" value="F" [(ngModel)]="create.Gender" name="female"/>
          <label for="gender-female">Female</label>
        </div>
      </div>
    </div>
    <div class="row">
      <button (click)="CreateUserOrUpdate()">Submit</button>
    </div>
  </form>
</div>

